.content--textbutton, .content--textbutton-black {
  font-weight: bold;
  color: #603392;
  text-decoration: none; }

html {
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  height: 100%; }

p {
  margin: 0;
  padding: 0;
  font-size: 0.8rem; }

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%; }
  @media (min-width: 768px) {
    .content {
      display: flex;
      flex-direction: row;
      height: 100%; } }
  .content header {
    display: none; }
    @media (min-width: 768px) {
      .content header {
        display: block;
        padding: 0 0 40px;
        position: relative;
        left: -10px; } }
  .content--vertically-centered {
    padding: 0;
    margin: 0;
    width: 100%;
    display: table;
    height: 100%;
    vertical-align: middle;
    justify-content: center; }
  .content--sign-in {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    justify-content: center;
    background-color: #f3f3f3;
    box-sizing: border-box;
    padding: 30px; }
    @media (min-width: 768px) {
      .content--sign-in {
        display: table-cell;
        flex-direction: column;
        vertical-align: middle;
        width: 40%;
        background-color: #fff; }
        .content--sign-in .on-mobile-only {
          display: none; } }
  .content--secondary {
    display: none; }
    @media (min-width: 768px) {
      .content--secondary {
        width: 60%;
        display: table-cell;
        flex-direction: column;
        justify-content: center;
        background-color: #EFEAF4;
        text-align: center;
        vertical-align: middle; }
        .content--secondary img {
          max-width: 100%;
          width: auto;
          max-height: 100%; } }
  .content--textbutton-black {
    color: #000; }
  .content--textbutton:focus {
    box-shadow: 0 0 5px #603392;
    outline: 0;
    width: 100%; }
  .content--gap {
    margin: 0; }
    @media (min-width: 768px) {
      .content--gap {
        margin: 60px 0; } }
    .content--gap p {
      margin: 0 0 20px; }
    .content--gap-indentleft {
      padding: 0 12px; }
      .content--gap-indentleft:last-of-type {
        margin-top: 20px; }
      @media (min-width: 768px) {
        .content--gap-indentleft {
          padding: 0; }
          .content--gap-indentleft:last-of-type {
            margin-top: 0; } }
  .content h2 {
    font-family: "PT Sans", sans-serif;
    font-size: 2rem;
    font-weight: bold; }
  .content input[type=email], .content input[type=password] {
    width: 100%;
    padding: 15px 5px;
    background-color: #EFEAF4;
    border: 0;
    border-radius: 4px;
    margin: 5px 0 15px; }
    .content input[type=email]:focus, .content input[type=password]:focus {
      box-shadow: 0 0 5px #603392;
      outline: 0;
      width: 100%; }
    .content input[type=email]::placeholder, .content input[type=password]::placeholder {
      color: #000;
      padding: 15px;
      margin-left: 15px;
      font-weight: bold; }
    .content input[type=email]::-webkit-input-placeholder, .content input[type=password]::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #000;
      padding: 15px;
      margin-left: 15px;
      font-weight: bold; }
    .content input[type=email]::-moz-placeholder, .content input[type=password]::-moz-placeholder {
      /* Firefox 19+ */
      color: #000;
      padding: 15px;
      margin-left: 15px;
      font-weight: bold; }
    .content input[type=email]:-ms-input-placeholder, .content input[type=password]:-ms-input-placeholder {
      /* IE 10+ */
      color: #000;
      padding: 15px;
      margin-left: 15px;
      font-weight: bold; }
    .content input[type=email]:-moz-placeholder, .content input[type=password]:-moz-placeholder {
      /* Firefox 18- */
      color: #000;
      padding: 15px;
      margin-left: 15px;
      font-weight: bold; }
  .content input[type=submit] {
    width: 100%;
    padding: 15px 0;
    background-color: #603392;
    color: #fff;
    border: 0;
    border-radius: 6px;
    margin: 30px 0;
    font-size: .85rem;
    position: relative;
    left: 0; }
    .content input[type=submit]:focus {
      box-shadow: 0 0 5px #603392;
      outline: 0;
      width: 100%; }
    @media (min-width: 768px) {
      .content input[type=submit] {
        left: -5px;
        padding: 10px 25px;
        width: initial; } }
  .content .button--google {
    text-align: center;
    width: 100%;
    border-radius: 5px;
    height: 40px;
    vertical-align: middle;
    line-height: 40px;
    margin-bottom: 0.4rem;
    border: 1px solid #4081ed; }
    @media (min-width: 768px) {
      .content .button--google {
        margin-bottom: 1rem; } }
    .content .button--google a {
      text-decoration: none;
      color: black; }
    .content .button--google img {
      position: relative;
      top: 5px;
      right: 5px; }
    .content .button--google:hover {
      background-color: #4081ed;
      color: #fff; }
      .content .button--google:hover a {
        color: #fff; }
    .content .button--google:focus {
      box-shadow: 0 0 5px #603392;
      outline: 0;
      width: 100%; }
  .content .button--facebook {
    text-align: center;
    width: 100%;
    border-radius: 5px;
    height: 40px;
    vertical-align: middle;
    line-height: 40px;
    margin-bottom: 0.4rem;
    border: 1px solid #3a5695; }
    @media (min-width: 768px) {
      .content .button--facebook {
        margin-bottom: 1rem; } }
    .content .button--facebook a {
      text-decoration: none;
      color: black; }
    .content .button--facebook img {
      position: relative;
      top: 5px;
      right: 5px; }
    .content .button--facebook:hover {
      background-color: #3a5695;
      color: #fff; }
      .content .button--facebook:hover a {
        color: #fff; }
    .content .button--facebook:focus {
      box-shadow: 0 0 5px #603392;
      outline: 0;
      width: 100%; }

/*# sourceMappingURL=main.css.map */
