@import "variables.scss";
@import "mixin.scss";

html {
    font-size: 16px;
    font-family: $font-family;
    height: $max-height;
}

body {
    @include absolutezero();
    height: $max-height;
}

p {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
}


.content {
    display: flex;
    flex-direction: column;
    width: $max-width;
    height: $max-height;

    @media (min-width: $breakwidth) {
        display: flex;
        flex-direction: row;
        height: $max-height;
    }

    header {
        display: none;

        @media (min-width: $breakwidth) {
            display: block;
        }
    }

    &--vertically-centered {
        @include absolutezero();
        width: $max-width;
        display: table;
        height: $max-height;
        vertical-align: middle;
        justify-content: center;
    }

    &--sign-in {
        width: $max-width;
        height: $max-height;
        display: table-cell;
        vertical-align: middle;
        justify-content: center;
        background-color: $lightgrey;
        box-sizing: border-box;
        padding: 30px;
    
        @media (min-width: $breakwidth) {
            display: table-cell;
            flex-direction: column;
            vertical-align: middle;
            width: 40%;
            background-color: $white;

            .on-mobile-only {
                display: none;
            }
        }
    }

    &--secondary {
        display: none;
      
        @media (min-width: $breakwidth) {
            width: 60%;
            display: table-cell;
            flex-direction: column;
            justify-content: center;
            background-color: $lightpurple;
            text-align: center;
            vertical-align: middle;
  
            img {
                max-width: $max-width;
                width: auto;
                max-height: $max-height;
            }
        }
    }

    &--textbutton {
        @extend %buttontosign;

        &-black {
            @extend %buttontosign;
            color: $black;
        }

        @include elementfocus();
    }

    &--gap {
        margin: 0;

        @media (min-width: $breakwidth) {
            margin: 60px 0;
        }

        p {
            margin: 0 0 20px;
        }

        &-indentleft {
            padding: 0 12px;

            &:last-of-type {
                margin-top: 20px;
            }

        @media (min-width: $breakwidth) {
            padding: 0;

            &:last-of-type {
                margin-top: 0;
            }
            }
        }
    }


    h2 {
        font-family: $font-family;
        font-size: $titletext;
        font-weight: bold;
    }

    input[type=email], input[type=password] {
        width: 100%;
        padding: 15px 5px;
        background-color: $lightpurple;
        border: 0;
        border-radius: 4px;
        margin: 5px 0 15px;

        @include elementfocus();
        
        &::placeholder {
            color: $black;
            //padding: 15px;
          }
    }

    input[type=submit] {
        width: 100%;
        padding: 15px 0;
        background-color: $darkpurple;
        color: $white;
        border: 0;
        border-radius: 6px;
        margin: 30px 0;
        font-size: .85rem;
        position: relative;
        left: 0;
        
        @include elementfocus();

        @media (min-width: $breakwidth) {
            left: -5px;
            padding: 10px 25px;
            width: initial;
        }
        
    }

    .button--google {
        @include button--socialmedia();
        border: 1px solid $gcolor;

        &:hover {
            background-color: $gcolor;
            color: $white;

            a{
                color: $white;
            }
        }

        @include elementfocus();
    }

    .button--facebook {
        @include button--socialmedia();
        border: 1px solid $fbcolor;
        
        &:hover {
            background-color: $fbcolor;
            color: $white;

            a{
                color: $white;
            }
        }

        @include elementfocus();
    }  
}
  

  

    
