@mixin button--socialmedia() {
    text-align: center;
    width: 100%;
    border-radius: 5px;
    height: 40px;
    vertical-align: middle;
    line-height: 40px;
    margin-bottom: 0.4rem;

    @media (min-width: $breakwidth) {
        margin-bottom: 1rem;
    }

    a {
        text-decoration: none;
        color: black;
    }

    img {
        position: relative;
        top: 5px;
        right: 5px;
    }
}

@mixin absolutezero() {
    padding: 0;
    margin: 0;
}

@mixin elementfocus {
    &:focus {
        box-shadow: 0 0 5px $darkpurple;
        outline: 0;
        width: 100%;
    }
}